<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!--기기 식별 (로그인 유지용)-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/> <!--자료 관련 요청-->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <!-- INTERNET 퍼미션 추가 -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DTalk"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".one_to_many_chat"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".my_info"
            android:exported="false" />
        <activity
            android:name=".block_list"
            android:exported="false" />
        <activity
            android:name=".withdrawal"
            android:exported="false" />
        <activity
            android:name=".change_ps"
            android:exported="false" />
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".one_to_many_chat_profile"
            android:exported="false" />
        <activity
            android:name=".join_one_to_many_chat"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".create_one_to_many_chat"
            android:exported="false" />
        <activity
            android:name=".one_to_one_chat_list"
            android:exported="false" />
        <activity
            android:name=".one_to_one_chat"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".my_profile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".searchFriend.add_friend"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".navi"
            android:exported="false" />
        <activity
            android:name=".find_ps_result"
            android:exported="false" />
        <activity
            android:name=".find_ps"
            android:exported="false" />
        <activity
            android:name=".find_id_result"
            android:exported="false" />
        <activity
            android:name=".find_id"
            android:exported="false" />
        <activity
            android:name=".register.signUp"
            android:exported="false" />
        <activity
            android:name=".tos"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".information_use"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".activity_title"
            android:exported="false">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>